/* body{
    background-color:rgb(117, 109, 109);
    color:rgb(75, 68, 58)
}
#adoo{
    background-color: rgb(54, 51, 47);
}

.jumbo-color {
    background-color: rgb(83,81,82);
}

.form-control{
    background-color: rgb(177, 168, 168);
}
 */
